@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "lofi";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(94% 0 0);
  --color-base-content: oklch(0% 0 0);
  --color-primary: oklch(15.906% 0 0);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(55% 0.046 257.417);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(26% 0 0);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(0% 0 0);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(62% 0.214 259.815);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(90.13% 0.153 164.14);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(88.37% 0.135 79.94);
  --color-warning-content: oklch(100% 0 0);
  --color-error: oklch(78.66% 0.15 28.47);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 1rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.bar-blue .bar{
  fill: #3b82f6 !important;;
}
.bar-yellow .bar{
  fill: #FFEB3B !important;;
}
.bar-orange .bar{
  fill: #f97316 !important;;
}
.bar-green .bar{
  fill: #4CAF50 !important;;
}
.bar-gray .bar{
  fill: #9ca3af !important;;
}